Source: gnome-session-xmonad
Section: gnome
Priority: optional
Maintainer: Joonas Javanainen <joonas.javanainen@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Gekkio/gnome-session-xmonad
Vcs-Browser: https://github.com/Gekkio/gnome-session-xmonad
Vcs-Git: https://github.com/Gekkio/gnome-session-xmonad.git
Rules-Requires-Root: no

Package: gnome-session-xmonad
Architecture: all
Depends: gnome-session-flashback,
         xmonad (>= 0.11-9),
         ${misc:Depends}
Recommends: libghc-xmonad-contrib-dev (>= 0.11.3-3)
Description: GNOME Session Manager - XMonad session
